{{#with model}}

  <div id="modal" class="reveal-modal small ride-details" data-reveal>
    <div class="row">
      <div class="medium-6 columns">{{ phone.value }}</div>
      <div class="medium-6 columns">{{ email.value }}</div>
    </div>

    <div class="row">
      <div class="medium-12 columns">{{ message.value }}</div>
    </div>

    {{#if beenAssigned}}
      <div class="row">
        <div class="medium-12 columns">
          <a {{bind-attr href='navigateURL'}} target="_blank">
          <button class="expand">Get me directions!</button>
          </a>
        </div>
      </div>
    {{else}}
      <div class="row">
        <div class="medium-12 columns">
          <button class="expand" {{action "claimSubmission" this}}>Pick them up!</button>
        </div>
      </div>
    {{/if}}
  </div>

{{/with}}
